.card-subtitle {
    margin: 2px;
}

.user-img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 100px;
    width: 150px;
    margin-bottom: 2px;
}

.user-contact {
    margin-top: 0px;
    margin-bottom: 2px;
}
