body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 75px;
}

footer {
  position: absolute !important;
  bottom: 0;
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.donate {
  margin-top: auto;
  margin-bottom: auto;
}

.btn-donate {
  margin-right: 5px;
}

.social,
.copyright {
  margin: auto;
}

.card-body {
  color: black;
}

